html
{
    background-color: #000;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#form_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_form {
    text-align: center;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search_form:hover {
    opacity: 1;
}

.search_form_active {
    display: flex;
    justify-content: space-between;
    width: 50%;
    top: 0;
    margin-top: 20px;
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.4;
}

.input_box {
    background-color: #fff;
    width: 50%;
    min-width: 100px;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    color: black;
    margin: 20px 0px;
    font-family: "Courier New", Courier, monospace;
}

.input_box_active {
    width: 70%;
}

.submit_button {
    background-color: grey;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: auto;
    width: 15%;
    min-width: 50px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.submit_button_active {
    margin:20px 0 20px auto;
}

#film_container {
    display: none;
    text-align: center;
    position: relative;
    margin-top: 200px;
}

#film_poster {
    width: 50%;
}